@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

.neu-btn {
    background: #731702;
    box-shadow: 10px 10px 20px #621402,
        -10px -10px 20px #841a02;
}

.neu-btn:hover,
.neu-btn.sm:hover {
    background: linear-gradient(145deg, #681502, #7b1902);
}

.neu-btn:active {
    box-shadow: inset 10px 10px 20px #621402,
        inset -10px -10px 20px #841a02;
}

.neu-btn.sm:active {
    box-shadow: inset 6px 6px 13px #621402,
        inset -6px -6px 13px #841a02;
}

.neu-btn.sm.active {
    box-shadow: inset 6px 6px 13px #621402,
        inset -6px -6px 13px #841a02;
}

.neu-btn.sm {
    border-radius: 50px;
    background: #731702;
    box-shadow: 6px 6px 13px #621402,
        -6px -6px 13px #841a02;
}

.neu-btn:focus,
.neu-btn.sm:focus {
    outline: none;
}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px #980e03,
        inset -10px -10px 20px #ce1203;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #B31003;
}

input[type="number"]:focus {
    outline: none;
}